BasedOnStyle: LLVM
ColumnLimit: 78
IndentWidth: 2
AlignTrailingComments: true
UseTab: Never
AllowShortIfStatementsOnASingleLine: true 
AllowShortBlocksOnASingleLine: true 
BreakBeforeBraces: Stroustrup
